body {
  font-family: Verdana,
  sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  font-size: 50px;
  color: White;
  font-weight: normal;
  text-align: center;
}

.link {
  font-size: 16px;
  color: Aquamarine;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

.interest {
  color: gray;
  font-size: 21px;
}

.footer {
  text-align: right;
  color: gray;
}
